

@media screen and (max-width:570px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        gap: 5px;
        margin-top: 10px;
    }
}